select {
  color: #E98830;
}

option {
  color: black; 
}

a {
  color: #E98830;
}

#log_pag {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;

  background: linear-gradient(0deg, rgba(255, 254, 254, 0.15), rgba(255, 254, 254, 0.15)), #E98830;
}

p {
  color: #000000;
  font-size: 15px;
  font-family: 'roboto', sans-serif;
}


input {
  color:#E98830;
  font-size: 16px;
  font-family: roboto;
  text-align: left;
}

::placeholder{
    color:#E98830;
    text-align: left;
}

form {
    margin-top: 0px;
    margin-left: 1240px;
}

h1{
  color: #E98830;
  position: absolute;
  font-family: roboto;
  text-align: right;
  font-size: 30px;
  margin-left: 190px;
  margin-bottom: 50px;
  margin-top: 255px;
}

h2 {
  color: #FFFFFF;
  position: absolute;
  font-family: 'roboto', sans-serif;
  text-align: center;
  font-size: 50px;
  margin-top: 650px;
  margin-left: 25%;
  margin-right: 25%;

}

#log_img{
  position: absolute;
  width: 568;
  height: 393;
  margin-top: 150px;
  margin-bottom: 75px;
  margin-left: 180px;
}

#log{
position: absolute;
color:#FFFFFF;
background-color: #E98830;
width: 280px;
height: 40px;
margin-top: 100px;
margin-left: 35px;
border-radius: 8px;
border-color: #E98830;
text-align: center;
font-size: 20px;
font-family: 'roboto', sans-serif;
}


#email_log{
margin-top: 350px;
}

#email_login{
position: absolute;
width: 350px;
border-bottom: 1px solid #000000;
border-top: none;
border-left: none;
border-right: none;
}

#senha_login{
position: absolute;
width: 350px;
margin-top: 50px;
border-bottom: 1px solid #000000;
border-top: none;
border-left: none;
border-right: none;
}

#new_cad{
margin-top: 500px;
margin-left: 60px;
font-size: 16px;

}


#img{
margin-left: 1240px;
width: 113px;
height: 113px;
margin-top: 300px;
margin-bottom: -380px;
display: flex;
}